In [1]:
import pandas as pd
import numpy as np 
from sklearn.svm import SVC
from sklearn import metrics
from sklearn import cross_validation

/Users/hectorcuesta1/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [12]:
data = pd.read_csv('tictac_single.txt', sep=' ', header = None)

In [14]:
data.head()

   0  1  2  3  4  5  6  7  8  9
0  1 -1  0  0  0  0  0  1  0  6
1  1  0  1  0  0  0  0 -1  0  1
2  0  0  0  0  0  1  0  0  0  2
3  0  1  1  0  0  0  0 -1  0  0
4  1  1 -1  0  0  0  0 -1  0  3

In [15]:
train = data.sample(frac=0.8, random_state=200)
test = data.drop(train.index)

In [17]:
y = train.pop(9)
y_test = test.pop(9)
y.head()

3609    2
4313    0
5941    4
3935    6
3118    4
Name: 9, dtype: int64

In [18]:
train.head()

      0  1  2  3  4  5  6  7  8
3609  1  1  0  0  0 -1  1 -1  0
4313  0  0  1 -1  1 -1  0  0  1
5941 -1  1 -1  1  0  0  0  1  0
3935 -1  1  1 -1 -1  1  0  0  0
3118 -1  0  0  1  0  1  1  0 -1

In [19]:
test.head()

    0  1  2  3  4  5  6  7  8
2   0  0  0  0  0  1  0  0  0
17  0  1  0  0 -1  0 -1  1  1
18  1 -1 -1  1  0  1  0  1 -1
37  0 -1  0  1  1  0  0  0  0
48  0  0  0  0  0  0  1  0  0

In [20]:
modelo = SVC()
modelo.fit(train,y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [21]:
modelo.score(test, y_test)

0.7916030534351145

In [22]:
rcross = cross_validation.cross_val_score(modelo,train,y)
rcross

array([0.76958262, 0.76588437, 0.75014327])

In [32]:
test[10:11]

    0  1  2  3  4  5  6  7  8
77  1 -1  0 -1  1  0  0  1 -1

In [33]:
prediccion = modelo.predict(test[10:11])
print(prediccion)

[2]

In [34]:
y_test[10:11]

77    2
Name: 9, dtype: int64