In [16]:
import pandas as pd
import numpy as np 
from sklearn import metrics
from sklearn import cross_validation
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import tree
from sklearn.model_selection import train_test_split

In [17]:
data = pd.read_csv('tictac_final.txt', sep=' ', header = None)

In [18]:
data.head()

   0  1  2  3  4  5  6  7  8  9
0  1  1  1  1 -1 -1  1 -1 -1  1
1  1  1  1  1 -1 -1 -1  1 -1  1
2  1  1  1  1 -1 -1 -1 -1  1  1
3  1  1  1  1 -1 -1 -1  0  0  1
4  1  1  1  1 -1 -1  0 -1  0  1

In [19]:
y = data.pop(9) 
x = data        
x_train, x_test,y_train,y_test = train_test_split(x, y, test_size=0.3, random_state = 0)

In [20]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((670, 9), (670,), (288, 9), (288,))

In [21]:
arbol = DecisionTreeClassifier(random_state = 0, max_depth=2)
arbol.fit( x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=2,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [22]:
arbol.score(x_test, y_test)

0.6840277777777778

In [23]:
print(arbol.predict([[1, 1, 1, 1, -1, -1, 1, 1, -1 ]]))

[1]